@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,h2,h3,h4,h5,h6 {
        /*font-family: 'Cormorant SC', serif;*/
        font-family: 'Playfair Display', serif;
        font-weight: 500;
    }
    html {
        /*font-family: 'Playfair Display', serif;*/
        font-family: 'Jost', sans-serif;
    }
    .custom-select {
        @apply
        focus:ring-[#E3006D]
        /*focus:bg-white*/
        border-none
        bg-[#E3006D1A]
    }
    .custom-input{
        @apply
            w-full
            placeholder-shown:bg-[#E3006D1A]
            placeholder-shown:ring-0
            placeholder:text-[#E3006D4D]
            bg-white
            placeholder-shown:border-none
            border-none
            ring-1
            ring-[#E3006D80]
            rounded-full
            focus:ring-2
            focus:ring-[#E3006D]
            focus:bg-white

    }
    .custom-input-invalid{
        @apply
            bg-red-100
            ring-2
            ring-red-400
            placeholder-shown:ring-2
            placeholder-shown:bg-red-100
            placeholder:text-red-400
    }
    .custom-input-valid{
        @apply
            bg-[#C6FFC980]
            ring-2
            ring-[#00CD0B]
            border-none
    }

    .btn-primary{
        @apply
            bg-[#F978AF]
            rounded-full
            px-8
            py-1
            text-white

            hover:bg-[#E3006D]

            focus:bg-[#E3006D]
            focus:ring-[#FFA7CD]
            focus:ring-2

            active:bg-white
            active:text-[#E3006D]

    }
    .card-direction {
        @apply
        drop-shadow-lg
        rounded-lg
        my-3 lg:my-10
        w-4/5
        bg-white
        p-8
        h-60
    }

    .link-secondary{
        @apply
            underline
            underline-offset-4
            hover:text-pink-300
    }
}

header {
    z-index: 999;
    border-bottom: 0.5px solid #7C7C7C;
    backdrop-filter: blur(10px);
}

